    body {
        background-color: #00858B;
    }
    
    html {
        background-color: #00858B;
    }
    
    .greet1 {
        margin-top: 1em;
        margin-left: 2em;
    }
    
    .florenceimg {
        margin-top: 4em;
        margin-left: 7em;
        width: 50%;
    }
    
    .explainwords {
        margin-top: 2em;
        margin-left: 3em;
    }
    
    .col {
        color: white;
        background-color: #00858B;
    }
    
    .col2 {}
    
    .row {}
    
    .explainwords2 {
        margin-left: 3em;
        margin-top: 3em;
    }
    
    .openhand,
    .closehand,
    .arrow {
        margin-top: 15em;
    }
    
    .col2 {
        display: flex;
        gap: 32px;
    }
    /*.arrow {
    margin-left: 2em;
}

.openhand {
    margin-left: 2em;
}

.closehand {
    margin-left: 3em;*/