html {
    background-color: #00858B;
}

body {
    background-color: #00858B;
}

.col {
    color: white;
    background-color: #00858B;
}

.temperaturah1 {
    margin-top: 1em;
}

.datos {
    margin-top: 1em;
    border: 1px solid black;
    width: 70%;
    height: 300px;
}