<!doctype html>

<html lang="en">

<head>
    <link rel="stylesheet" href="../static/start.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="1col">
                    <h2 class="greet2">
                        Hola! Listo <br> para iniciar tu atencion!
                    </h2>
                    <img class="florenceimg1" src="../static/Assets/florence.svg" alt="florence">

                    <p class="pg">
                        Acontinuación procederemos <br> con la toma de sus signos vitales y básicos.
                    </p>

                    <button class="btn-2">
                        Iniciar
                    </button>
                </div>
            </div>
            <div class="col">
                <h1 class="sign">Signos Vitales</h1>
                <div class="col2start">
                    <div class="cardfir">
                        <img class="imgstart" src="../static/Assets/temp.svg" alt="temp">
                        <p class="p">Temperatura corporal</p>
                    </div>
                    <div class="cardfir">
                        <img class="imgstart" src="../static/Assets/pulso.svg" alt="temp">
                        <p class="p">Temperatura corporal</p>
                    </div>
                    <div class="cardfir">
                        <img class="imgstart" src="../static/Assets/presion.svg" alt="temp">
                        <p class="p">Temperatura corporal</p>
                    </div>
                    <div class="cardfir">
                        <img class="imgstart" src="../static/Assets/oxim.svg" alt="temp">
                        <p class="p">Temperatura corporal</p>
                    </div>
                    <div class="cardfir">
                        <img class="imgstart" src="../static/Assets/peso.svg" alt="temp">
                        <p class="p">Temperatura corporal</p>
                    </div>
                    <div class="cardfir">
                        <img class="imgstart" src="../static/Assets/height.svg" alt="temp">
                        <p class="p">Temperatura corporal</p>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>